body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-top: 1rem;
}

h2 { 
  margin: 15px; 
  text-align: center;
  color: #eee;
}
.nav-item button {
  background: inherit;
  color: white;
  border: none; 
}
.nav-item a {
   color:white; 
  }

.nav-item a:hover { 
  color: gray; 
}

.dropdown-menu, .dropdown-item {
  background-color: gray; 
} 


.home-div h2{
  color: white; 
  text-align: center;
  margin-top: 0; 
}

section {
  font-family: Arial, Helvetica, sans-serif; 
}

h3 {
  margin-top: 2rem;
}

.web-div{
  background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080'); 
  background-repeat: no-repeat;
  padding: 10%;
}

.web-div h2{
  color: white; 
  text-align: center;
  margin-top: 0; 
}

.app-div{
  background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080'); 
  background-repeat: no-repeat;
  padding: 10%;
}

.app-div h2{
  color: white; 
  text-align: center;
  margin-top: 0; 
}

.about img{
  width: 75%; 
  height: 30%;
  margin: 20px 40px;
}

.about p {
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif; 
  float: left;
}

.container input, textarea {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px;
}

.navbar-header img {
  height: 60px;
  margin: 0.5rem;
}

.carousel img {
  max-height: 20rem;
  margin: 0 auto;
}





